<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soultalk.mapper.AgentMapper">
    <insert id="insert">
        insert into soultalk.agent(name, creator, create_time, pub, prompt, introduction, photo, api)
        values (#{name}, #{creator}, #{createTime}, #{pub}, #{prompt}, #{introduction}, #{photo}, #{api})
    </insert>
    <update id="update">
        update soultalk.agent
        set name         = #{name},
            introduction = #{introduction},
            creator      = #{creator},
            create_time  = #{createTime},
            pub          = #{pub},
            model        = #{model},
            prompt       = #{prompt},
            api          = #{api},
            photo        = #{photo}
        where id = #{id}
    </update>
    <select id="countById" resultType="java.lang.Integer">
        select count(*)
        from soultalk.agent
        where id = #{id}
    </select>
    <select id="selectById" resultType="com.soultalk.po.AgentPO">
        select *
        from soultalk.agent
        where id = #{id}
    </select>
    <select id="selectByUserId" resultType="com.soultalk.po.AgentPO">
        select *
        from soultalk.agent
        where creator = #{userId}
           or pub = 1
    </select>
    <select id="selectLikeByName" resultType="com.soultalk.po.AgentPO">
        select *
        from soultalk.agent
        where name like concat('%', #{name}, '%')
    </select>
    <select id="selectMyAgent" resultType="com.soultalk.po.AgentPO">
        select *
        from soultalk.agent
        where creator = #{userId}
    </select>
</mapper>