<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soultalk.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into soultalk.user(name, password, time)
        values (#{name}, #{password}, #{time})
    </insert>
    <update id="update">
        update soultalk.user
        <set>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="memoryId != null">
                memory_id = #{memoryId},
            </if>
            <if test="sessionId != null">
                session_id = #{sessionId},
            </if>
            <if test="introduce != null">
                introduce = #{introduce},
            </if>
            <if test="photo != null">
                photo = #{photo},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="setMemoryIdToId">
        update soultalk.user
        set memory_id = #{memoryId}
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete
        from user
        where id = #{id}
    </delete>
    <select id="selectByName" resultType="com.soultalk.po.UserPO">
        select *
        from soultalk.user
        where name = #{name}
    </select>
    <select id="countByName" resultType="java.lang.Integer">
        select count(*)
        from soultalk.user
        where name = #{name}
    </select>
    <select id="selectById" resultType="com.soultalk.po.UserPO">
        select *
        from soultalk.user
        where id = #{id}
    </select>
    <select id="getTimeById" resultType="java.lang.Long">
        select time
        from soultalk.user
        where id = #{id}
    </select>

</mapper>